<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter a Secret Key</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/" novalidate>
  <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
    <label for="message">Secret Key</label>
    <textarea class="input" id="message" name="message" rows="1" autofocus><%= data.message %></textarea>
    <% if (errors.message) { %>
      <div class="error"><%= errors.message.msg %></div>
    <% } %>
  </div>
 
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>